table {
    table-layout: fixed;
    width: 80%;
    margin: 0 auto;
    /* border-collapse: collapse; */
    /* border: 3px solid purple; */
    background-color: rgb(177, 152, 152);
}

thead th:nth-child(1){
    width: 30%;
}

thead th:nth-child(2){
    width: 20%;
}

thead th:nth-child(3){
    width: 40%;
}

th, td {
    padding:  5px 20px;
}

tbody td{
    text-align: center;
}

thead {
    background-color: rgb(178, 140, 218);
    text-shadow: 1px 1px 1px black;
    color: white;
}

thead th {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
}

tbody tr:nth-child(odd){
    background-color: rgb(153, 127, 153);
}

tbody tr:nth-child(even){
    background-color: rgb(247, 218, 247);
}

caption {
    padding: 10px;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(82, 73, 73);
}