.del-element-container{
    position: relative;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 150px;
    background-color: rgb(152, 137, 167);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.del-element-container__content{
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.del-element-container__content_btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}